(
    format_version: 4,
    id: "a3574a00-0000-4000-8000-00000000d501",
    name: "Nested Trail Carrier",
    duration: 4.0,
    playback_mode: LoopContinuous,
    host_transform_track: Some((
        curves: (
            translation: ((
                id: "a3574a00-0000-4000-8000-00000000e000",
                keys: [
                    (
                        time: 0.0,
                        value: 0.0,
                    ),
                    (
                        time: 2.0,
                        value: 0.0,
                    ),
                    (
                        time: 4.0,
                        value: 0.0,
                    ),
                ],
                interpolation: Linear,
            ), (
                id: "a3574a00-0000-4000-8000-00000000e001",
                keys: [
                    (
                        time: 0.0,
                        value: 0.0,
                    ),
                    (
                        time: 2.0,
                        value: 20.0,
                    ),
                    (
                        time: 4.0,
                        value: 0.0,
                    ),
                ],
                interpolation: Linear,
            ), (
                id: "a3574a00-0000-4000-8000-00000000e002",
                keys: [
                    (
                        time: 0.0,
                        value: 0.0,
                    ),
                    (
                        time: 2.0,
                        value: 0.0,
                    ),
                    (
                        time: 4.0,
                        value: 0.0,
                    ),
                ],
                interpolation: Linear,
            )),
            rotation: (
                keys: [
                    (
                        time: 0.0,
                        value: (0.0, 0.0, 0.0, 1.0),
                    ),
                    (
                        time: 2.0,
                        value: (0.0, 0.0, 0.38268343, 0.9238795),
                    ),
                    (
                        time: 4.0,
                        value: (0.0, 0.0, 0.0, 1.0),
                    ),
                ],
                interpolation: Linear,
            ),
            scale: ((
                id: "a3574a00-0000-4000-8000-00000000e003",
                keys: [
                    (
                        time: 0.0,
                        value: 1.0,
                    ),
                    (
                        time: 2.0,
                        value: 1.2,
                    ),
                    (
                        time: 4.0,
                        value: 1.0,
                    ),
                ],
                interpolation: Linear,
            ), (
                id: "a3574a00-0000-4000-8000-00000000e004",
                keys: [
                    (
                        time: 0.0,
                        value: 1.0,
                    ),
                    (
                        time: 2.0,
                        value: 0.8,
                    ),
                    (
                        time: 4.0,
                        value: 1.0,
                    ),
                ],
                interpolation: Linear,
            ), (
                id: "a3574a00-0000-4000-8000-00000000e005",
                keys: [
                    (
                        time: 0.0,
                        value: 1.0,
                    ),
                    (
                        time: 2.0,
                        value: 1.0,
                    ),
                    (
                        time: 4.0,
                        value: 1.0,
                    ),
                ],
                interpolation: Linear,
            )),
        ),
        repeat: true,
    )),
    emitters: [],
    effect_clips: [
        (
            id: "a3574a00-0000-4000-8000-00000000d511",
            source: "a3574a00-0000-4000-8000-00000000d001",
            start_time: 0.25,
            source_offset: 0.5,
            duration: 3.75,
            transform: (
                translation: (15.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.25881904, 0.9659258),
                scale: (0.5, 0.5, 0.5),
            ),
            seed: Fixed(47),
        ),
    ],
)