(
    format_version: 3,
    id: "2b26d571-7692-4492-9c4d-2e98043ed8b1",
    name: "Mixed Lab",
    duration: 3.0,
    playback_mode: LoopContinuous,
    materials: [
        (
            id: "a3574a00-0000-4000-8000-000000000001",
            name: "Default Sprite",
            blend: Additive,
            properties: Sprite(
                softness: Constant(0.5),
                color: ParticleColor,
            ),
        ),
    ],
    parameters: [],
    emitters: [
        (
            id: "bac3b0fd-2e01-4508-8ab7-d915389b6aea",
            name: "Analytic Sparks",
            enabled: true,
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            start_time: 0.0,
            duration: 3.0,
            max_particles: 192,
            simulation_domain: Particle,
            modules: [
                (
                    id: "3fc0b1c0-3d34-4df7-9144-59aa7d1345f9",
                    module_type: "aestra.emission.rate",
                    stage: EmitterUpdate,
                    enabled: true,
                    parameters: Emission(
                        spawn_rate: 40.0,
                        burst_count: 12,
                    ),
                ),
                (
                    id: "9c04e96f-6819-49f0-ab6d-0df59871d0f2",
                    module_type: "aestra.spawn.shape",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Shape(
                        shape: Circle(
                            radius: 12.0,
                        ),
                    ),
                ),
                (
                    id: "531d06c5-554c-4329-be73-4e1967a71029",
                    module_type: "aestra.spawn.initialize",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Initialize(
                        lifetime: (
                            min: 0.96000004,
                            max: 1.44,
                        ),
                        speed: (
                            min: 42.0,
                            max: 78.0,
                        ),
                        direction: (0.0, 1.0, 0.0),
                        spread_degrees: 30.0,
                        angular_velocity: (
                            min: -2.0,
                            max: 2.0,
                        ),
                    ),
                ),
                (
                    id: "3ef8b26b-765b-4263-aba7-eae4d6ee23cf",
                    module_type: "aestra.update.motion",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Motion(
                        gravity: (0.0, -20.0, 0.0),
                        drag: 0.6,
                        turbulence: 4.0,
                    ),
                ),
                (
                    id: "f2dd4665-9562-4b0f-becd-baf604498fb2",
                    module_type: "aestra.update.appearance",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Appearance(
                        size: (
                            id: "c07474b2-cc8d-4458-9da1-51b26ad3c65a",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 4.0,
                                ),
                                (
                                    time: 0.35,
                                    value: 10.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 1.0,
                                ),
                            ],
                        ),
                        opacity: (
                            id: "3f47f1a6-912c-4955-a1ca-4f2afd2923d7",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 0.0,
                                ),
                                (
                                    time: 0.12,
                                    value: 1.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 0.0,
                                ),
                            ],
                        ),
                        color: (
                            id: "43a03075-a143-4d05-ae29-8f6979841f1f",
                            keys: [
                                (
                                    time: 0.0,
                                    color: (0.35, 0.75, 1.0, 1.0),
                                ),
                                (
                                    time: 0.5,
                                    color: (0.62, 0.3, 1.0, 1.0),
                                ),
                                (
                                    time: 1.0,
                                    color: (0.15, 0.05, 0.4, 0.0),
                                ),
                            ],
                        ),
                    ),
                ),
            ],
            renderers: [
                (
                    id: "7b67add6-b61c-4412-b1f3-f20f2b9bdbf2",
                    renderer_type: "aestra.renderer.sprite",
                    enabled: true,
                    material: "a3574a00-0000-4000-8000-000000000001",
                    properties: Sprite,
                ),
            ],
        ),
        (
            id: "3064b6fe-ca35-4bce-8330-6ab3f8f001f7",
            name: "Stateful Fountain",
            enabled: true,
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            start_time: 0.0,
            duration: 3.0,
            max_particles: 256,
            simulation_domain: Particle,
            modules: [
                (
                    id: "3f095781-5688-446f-8405-26ac5fff38c2",
                    module_type: "aestra.emission.rate",
                    stage: EmitterUpdate,
                    enabled: true,
                    parameters: Emission(
                        spawn_rate: 48.0,
                        burst_count: 12,
                    ),
                ),
                (
                    id: "52fa1655-5d56-43bc-a4dd-5d9ac7fc5bce",
                    module_type: "aestra.spawn.shape",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Shape(
                        shape: Circle(
                            radius: 12.0,
                        ),
                    ),
                ),
                (
                    id: "7f393a12-d8fd-4ef4-862c-559aeac0734e",
                    module_type: "aestra.spawn.initialize",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Initialize(
                        lifetime: (
                            min: 1.2,
                            max: 1.8000001,
                        ),
                        speed: (
                            min: 31.5,
                            max: 58.499996,
                        ),
                        direction: (0.0, 1.0, 0.0),
                        spread_degrees: 30.0,
                        angular_velocity: (
                            min: -2.0,
                            max: 2.0,
                        ),
                    ),
                ),
                (
                    id: "88a1045d-4e58-4fa3-8453-71d805576f8f",
                    module_type: "aestra.update.motion",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Motion(
                        gravity: (0.0, -30.0, 0.0),
                        drag: 0.6,
                        turbulence: 4.0,
                    ),
                ),
                (
                    id: "659273dc-b9e4-49ec-928f-b2fd57555f11",
                    module_type: "aestra.update.appearance",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Appearance(
                        size: (
                            id: "8427fe88-05af-4354-828d-3e7b22638073",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 4.0,
                                ),
                                (
                                    time: 0.35,
                                    value: 10.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 1.0,
                                ),
                            ],
                        ),
                        opacity: (
                            id: "02607e64-81f3-4e34-bb42-a4e8a88a944f",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 0.0,
                                ),
                                (
                                    time: 0.12,
                                    value: 1.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 0.0,
                                ),
                            ],
                        ),
                        color: (
                            id: "85a77025-6551-4ce0-96c4-c7a56333c605",
                            keys: [
                                (
                                    time: 0.0,
                                    color: (0.35, 0.75, 1.0, 1.0),
                                ),
                                (
                                    time: 0.5,
                                    color: (0.62, 0.3, 1.0, 1.0),
                                ),
                                (
                                    time: 1.0,
                                    color: (0.15, 0.05, 0.4, 0.0),
                                ),
                            ],
                        ),
                    ),
                ),
                (
                    id: "2e75b3b9-be21-4909-83d7-84dbe8020f6c",
                    module_type: "aestra.update.persistent",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Persistent(),
                ),
            ],
            renderers: [
                (
                    id: "e7e74835-77a9-44b6-a16c-111fd6b78dab",
                    renderer_type: "aestra.renderer.sprite",
                    enabled: true,
                    material: "a3574a00-0000-4000-8000-000000000001",
                    properties: Sprite,
                ),
            ],
        ),
        (
            id: "0bee2b98-e714-4441-af93-1282aced77b6",
            name: "Stateful Drift",
            enabled: true,
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            start_time: 0.0,
            duration: 3.0,
            max_particles: 128,
            simulation_domain: Particle,
            modules: [
                (
                    id: "a934e5e1-87f4-4939-ae3a-95e5f62623ae",
                    module_type: "aestra.emission.rate",
                    stage: EmitterUpdate,
                    enabled: true,
                    parameters: Emission(
                        spawn_rate: 30.0,
                        burst_count: 12,
                    ),
                ),
                (
                    id: "1420ce9b-3b58-4ba8-b3a3-6920ad8b44dd",
                    module_type: "aestra.spawn.shape",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Shape(
                        shape: Circle(
                            radius: 12.0,
                        ),
                    ),
                ),
                (
                    id: "42145ae7-cc84-457a-b37b-e5912aced90b",
                    module_type: "aestra.spawn.initialize",
                    stage: ParticleSpawn,
                    enabled: true,
                    parameters: Initialize(
                        lifetime: (
                            min: 1.6,
                            max: 2.4,
                        ),
                        speed: (
                            min: 15.4,
                            max: 28.599998,
                        ),
                        direction: (0.0, 1.0, 0.0),
                        spread_degrees: 30.0,
                        angular_velocity: (
                            min: -2.0,
                            max: 2.0,
                        ),
                    ),
                ),
                (
                    id: "3f4bb6af-1ad1-4d52-9ae5-b2602586283b",
                    module_type: "aestra.update.motion",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Motion(
                        gravity: (0.0, -8.0, 0.0),
                        drag: 0.6,
                        turbulence: 4.0,
                    ),
                ),
                (
                    id: "8a8d85fb-2afd-452d-a302-681d4d855389",
                    module_type: "aestra.update.appearance",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Appearance(
                        size: (
                            id: "e57a4dc5-11bb-422f-8b78-0c519836532b",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 4.0,
                                ),
                                (
                                    time: 0.35,
                                    value: 10.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 1.0,
                                ),
                            ],
                        ),
                        opacity: (
                            id: "2bf06aa8-1394-45f0-b805-34454f4a7ac8",
                            keys: [
                                (
                                    time: 0.0,
                                    value: 0.0,
                                ),
                                (
                                    time: 0.12,
                                    value: 1.0,
                                ),
                                (
                                    time: 1.0,
                                    value: 0.0,
                                ),
                            ],
                        ),
                        color: (
                            id: "37223992-58bc-47e6-afbc-973e399fe0f5",
                            keys: [
                                (
                                    time: 0.0,
                                    color: (0.35, 0.75, 1.0, 1.0),
                                ),
                                (
                                    time: 0.5,
                                    color: (0.62, 0.3, 1.0, 1.0),
                                ),
                                (
                                    time: 1.0,
                                    color: (0.15, 0.05, 0.4, 0.0),
                                ),
                            ],
                        ),
                    ),
                ),
                (
                    id: "e2881864-43b5-4510-b06b-ed202017a8b6",
                    module_type: "aestra.update.persistent",
                    stage: ParticleUpdate,
                    enabled: true,
                    parameters: Persistent(),
                ),
            ],
            renderers: [
                (
                    id: "0ab9a274-56e5-4326-857e-85153b5123bc",
                    renderer_type: "aestra.renderer.sprite",
                    enabled: true,
                    material: "a3574a00-0000-4000-8000-000000000001",
                    properties: Sprite,
                ),
            ],
        ),
    ],
    events: [],
    dependencies: [],
    metadata: {},
)